<% layout('layouts/boilerplate') %>
<% if (currentUser) { %>
 <% for( message of messages ) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= message.title %>
                    </h5>
                    <div class="card-text text-muted">
                        <%= message.author.username %>
                    </div>
                    <div class="card-text">
                        <%= message.content %>
                    </div>
                    <% if (currentUser._id.equals(message.author._id)) { %>
                        <div class="row">
                            <a class="btn btn-primary col-sm" href="/messages/<%= message._id %>">Update</a>
                            <a class="btn btn-danger col-sm" href="/messages/<%= message._id %>/delete">Delete</a>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
 <% } %>
<% } %>