<% layout('layouts/boilerplate') %>
<div class="card mb-3 md-6">
    <div class="row">
        <div class="col-md">
            <div class="card-body">
                <h5 class="card-title">
                    <%= message.title %>
                </h5>
                <div class="card-text text-muted">
                    <%= message.author.username %>
                </div>
                <div class="card-text">
                    <%= message.content %>
                </div>
                <% if (currentUser?._id.equals(message.author._id || currentUser.tier === 'admin')) { %>
                    <div class="row">
                        <form action="/messages/<%= message._id %>/update" method="get">
                            <button class="btn btn-primary col-sm" type="submit">Update</button>
                        </form>
                        <form action="/messages/<%= message._id %>/delete" method="post">
                            <button class="btn btn-danger col-sm" type="submit">Delete</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>